<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Taller Web</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>
    <nav>
      <a href="index.html">Inicio</a>
      <a href="diagnostico.html">Diagnóstico</a>
      <a href="mantenimiento.html">Mantenimiento</a>
      <a href="guia.html">Guía</a>
      <a href="checklist.html">Checklist</a>
    </nav>

    <header>
      <h1>Mecánica Web</h1>
      <p>Tu asistente digital para el cuidado de tu moto</p>
    </header>

    <main>
      <main>
        <h2>¿Qué necesitas hoy?</h2>
        <p>Selecciona un módulo para continuar:</p>

        <ul>
          <li><a href="diagnostico.html">Diagnóstico de Fallas</a></li>
          <li><a href="mantenimiento.html">Calculadora de Mantenimiento</a></li>
          <li><a href="guia.html">Guía de Mantenimiento</a></li>
          <li><a href="checklist.html">Checklist Pre-Salida</a></li>
        </ul>
      </main>
    </main>
    <footer>
      <p>Mecánica Web</p>
    </footer>
    <script src="../static/app.js"></script>
  </body>
</html>
